* {
    font-size: large;
    /* color: black; */
}

.new-button {
    float: right;
    margin-top: 10px;
}

.cancel-button{
    margin-top: 10px;
    float: right;
    margin-right: 5px;
}

.my-google-map > map.map-container{
    width: 800px;
    height: 600px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #381846; 
}

.node_button{
    margin-bottom: 5px;
    margin-left: 5px;
}