<div>

    <mat-stepper orientation="vertical" linear #stepper_scf_creation>
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Define the SFC features</ng-template>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>SFC name</mat-label>
                <input matInput style="color:black;"
                    placeholder="My request"
                    formControlName="sfc_name_ctrl"                     
                    [(ngModel)]="sfc_request.name">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Availability requirement</mat-label>
                <input style="color:black;" matInput type="number"
                    min="0" max="1" placeholder="0.99" 
                    formControlName="sfc_av_ctrl"
                    [(ngModel)]="sfc_request.requirements.availability">
            </mat-form-field>
            
            <div>
            <button mat-button class="spider-button" matStepperNext>next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select the VNFs</ng-template>
            
            <app-add-vnfs-stepper [vnf_list]="vnf_list" [newSteps]="newSteps"></app-add-vnfs-stepper>
            
            <div>
              <button mat-raised-button matStepperPrevious color="warn">back</button>
              <button mat-button matStepperNext class="spider-button">next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Source and destination nodes</ng-template>
              
                <h3 style="color:black;"> 
                    Please, select the source and destinaton of SFC request in the map:
                </h3>
                
                <app-infra-map (change_nodes_name_event)="update_nodes_names($event)"></app-infra-map>
        
                <!-- <div>
                    <button mat-raised-button matStepperPrevious color="warn">back</button>
                    <button mat-button matStepperNext class="spider-button">next</button>
                </div> -->
            </form>
          </mat-step>
        
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p style="color:black;">You are now done.</p>
          <div>
            <form (ngSubmit)="onSubmit()">
                <button mat-raised-button class="cancel-button" (click)="cancel_update()">cancel</button>
                <button mat-raised-button matStepperPrevious color="warn">back</button>
                <button mat-raised-button type="submit" class="spider-button">ok</button>
            </form>
          </div>
        </mat-step>
    </mat-stepper>

</div>


